*.exe
*.depend
*.layout
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
*main.o
main.yml
main
ejemplo_slide_*
!ejemplo_slide_*.c
!main.c
*Info.plist
.vscode/tasks.json
Archivos/programacion1.txt
tempCodeRunnerFile.c
